:root {
    --gp-font--open-sans: "Open Sans";
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 500;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 500;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}

@font-face {
    font-display: auto;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: url('http://triedandtested.today/wp-content/uploads/generatepress/fonts/open-sans/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2') format('woff2');
}